<div class="col-md-9 col-md-offset-1">
    <h2 class="orange">Help center</h2><hr>
</div>
    

<div class="row">
  <div class="col-md-2 col-md-offset-1">
     <ul>
      <p><%= link_to "About Zampr", pages_about_path %></p>           
      <p><%= link_to "Buy on Zampr", help_buy_path %></p>
      <p><%= link_to "Sell on Zampr", help_sell_path %></p>
      <p><%= link_to "Accounts & Memberships", help_members_path %></p>
      <p><%= link_to "Community", help_community_path %></p>
      <p><%= link_to "Policies", help_policies_path %></p>
      <p><%= link_to "Fees", help_fees_path %></p>
      <p><%= link_to "Security", help_security_path %></p>
      <p><%= link_to "Privacy", help_security_path %></p>
      <p><%= link_to "Contact", pages_contact_path %></p>
    </ul>
  </div>
</div>

