<div class="footer">
	<hr><h6 class="center">Copyright Zampr 2014
	 	| Blog 
	 	| <%= link_to "About", pages_about_path %>
	  | <%= link_to "Contact", pages_contact_path %>
	  | <%= link_to "Press", help_buy_path %>
	  | <%= link_to "Privacy", help_community_path %>
	  | <%= link_to "Policies", help_policies_path %> 
	  | <%= link_to "Buyers", help_buy_path %>
	  | <%= link_to "Sellers", help_sell_path %>
	  | <%= link_to "Help", help_index_path %>
</div>